<!--/*@thymesVar id="book" type="ua.sirkostya009.ui.model.Book"*/-->
<a th:fragment="book-card" class="gradient-btn stretched-link" th:href="@{/book/{id}(id=${book.id})}">
  <div class="card-body">
    <h5 class="card-title" th:text="${book.title}"></h5>
    <p class="card-text">
      <span th:text="${book.authors}" th:remove-instruction="tag"></span> -
      <span th:text="${book.genres}" th:remove-instruction="tag"></span>
      <br>
      Pages: <span th:text="${book.pagesCount}"></span>
      Words: <span th:text="${book.wordsCount}"></span>
    </p>
  </div>
</a>
