<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="display-4 mb-3">404</h1>
      <p class="lead">Oops! The page you are looking for cannot be found.</p>
      <a href="/" class="btn btn-primary mt-3">Go to Homepage</a>
    </div>
  </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>
