<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head(title='Home')}"></div>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<!--/*@thymesVar id="user" type="ua.sirkostya009.ui.model.User"*/-->
<main role="main" class="container">
  <div th:if="${books == null}">
    <h3 class="display-4">No content to display</h3>
      <div th:if="${user == null}">
        <h4 th:if="${user == null}">Log in to see books in possession.</h4>
        <a class="btn btn-primary" href="/login">Login</a>
      </div>
      <div th:if="${user != null}">
        <h4 th:if="${user != null}">Perhaps you would like to take a look at the catalog?</h4>
        <a class="btn btn-primary" href="/catalog">Catalog</a>
      </div>
  </div>
  <div th:if="${books != null}">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Books</h2>
          <div th:each="book : ${books}" class="card mb-3">
            <div th:replace="~{fragments/book-card :: book-card(book=${book})}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>
