<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head(title='Register')}"></div>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<main class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Register</h5>
      <!--/*@thymesVar id="error" type="java.lang.String"*/-->
      <div th:if="${error != null}">
        <div class="alert alert-danger" th:text="${error}"></div>
      </div>
      <form action="#" th:action="@{/register}" method="post">
        <div class="mb-3">
          <label for="firstName" class="form-label" required>First Name</label>
          <input th:value="${firstName}" type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" required>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input th:value="${lastName}" type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name">
        </div>
        <div class="mb-3">
          <label for="username" class="form-label" required>Username</label>
          <input th:value="${username}" type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label" required>Email address</label>
          <input th:value="${email}" type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label" required>Password</label>
          <input th:value="${password}" type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label" required>Confirm Password</label>
          <input th:value="${confirmPassword}" type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>
